- @user ||= current_user
.follow_follower
  = link_to following_user_path(@user),class:"follow_follower" do
    フォロー:
    = @user.following.count
  = link_to followers_user_path(@user),class:"follow_follower" do
    フォロワー:
    = @user.followers.count