.wrapper
  = render 'posts/index/header'
  .contents_new
    %h3 投稿する
    .content_box
      = form_with model: @post, local: true do |f| 
        = render partial: "posts/index/form", locals: { f: f }