.contents
  .contents__box
    = form_with model: @post, local: true do |f| 
      %h3 投稿する
      = render partial: "posts/index/form", locals: { f: f }
      = link_to'投稿一覧へ戻る', root_path, class:'btn'