.notification {
  .notice {
    background-color: rgb(223, 223, 198);
    color: white;
    text-align: center;
  }

  .alert {
    background-color: rgb(238, 174, 102);
    color: white;
    text-align: center;
  }
}