.contents_new {
  height: 65vh;
  width: 100%;
  margin-top: 100px;
  background-color: rgb(248, 246, 245);
  .content_box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .new-post {
      font-size: 25px;
      text-align: center;
    }
    .form__field {
      width: auto;
      margin-top: 10px;
      #post_title {
        width: 600px;
        height: 40px;
      }
      #post_video {
        width: 600px;
        height: 40px;
      }
      #post_text {
        width: 600px;
        height: 220px;
        overflow: scroll;
      }
      
    }
  }
}
.start-stop {
  text-align: end;
}
@media screen and (max-width:480px){
  .contents_new {
    height: 88%;
    width: 100%;
    margin-top: 10px;
    background-color: #f8f6f5;
    .content_box {
      display: block!important;
      text-align: center;
      .new-post {
        font-size: 20px;
        padding-top: 10px;
      }
      .form__field {
        width: auto;
        margin-top: 10px;
        #post_title {
          width: 60%;
          height: 20px;
        }
        #post_video {
          width: 50%;
          height: 20px;
        }
        #post_text {
          width: 60%;
          height: 150px;
          overflow: scroll;
        }
      }
    }
  }
}