.main {
  height: 90vh;
  width: 100%;
  display: flex;
  .show-main {
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
    background-color: rgb(248, 246, 245);
    &__content {
      padding: 25px;
      margin: 0 50px;
      text-align: center;
      &__item {
        
      }
      &__title {
        background-color: whitesmoke;
        padding-top: 20px;
        height: 100px;
        text-align: center;
        font-size: 25px;
        border-bottom: 1px solid ;
      }
        .date_edit{
          display: flex;
          justify-content: space-between;
          .created_date {
            opacity: 0.7;
            font-size: 14px;
          }
          .icon {
            display: none;
          }
            .icon_list {
              display: flex;
              font-size: 16px;
              list-style: none;
              li {
                margin-left: 5px;
                .edit {
                  text-decoration: none;
                  color: #000;
                  opacity: 0.7;
                }
                .deleat {
                  text-decoration: none;
                  color: #000;
                  opacity: 0.7;
                }
              }
            }
        }
          
      
      .user_name {
        height: 30px;
        margin: 20px;
        font-size: 20px;
        .user-name {
          color: black;
          text-decoration: none;
        }
      }
      &__text {
        font-size: 20px;
        margin: 10px;
        border-bottom: 1px solid;
        opacity: 0.7;
        overflow: scroll;
        
        text-align: center;

      }
      
      .container {
        margin: 50px;
        #new_comment {
          text-align: center;
        }
        .text_box {
          width: 600px;
          height: 50px;
        }
        .form_submit {
          width: 50px;
          height: 30px;
        }

      }
      .comments {
        overflow: scroll;
        height: 30%;
        width: 100%;
        border-top: 1px solid;
      }
      
    }
    
  }
}
@media screen and (max-width:480px){
  #ytplayer {
    width: 100%!important;
    height: 210px;
  }
  .show-main__content {
    padding: 0!important;
    margin: 0!important;
  }
  .show-main__content__title {
    height: 0!important;
    font-size: 20px!important;
  }
  .user_name {
    height: 30px!important;
    margin: 15px!important;
    font-size: 0!important;
  }
  .container {
    margin: 25px!important;
  }
  .text_box {
    width: 100%!important;
    height: auto!important;
  }
}