
.main {
  height: 90vh;
  width: 100%;
  margin: auto;
  display: flex;
  &__side {
    width: 16%;
  }
  .user-main {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    overflow: scroll;
    text-align: center;
    .user-top {
      width: auto;
      &__image {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 190px;
      }
      &__bottom {
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: space-evenly;
        &__left {
          text-align: center;
          padding-top: 10px;
          .user-edit {
            padding-top: 20px;
          }
        }
        &__center {
          text-align: center;
          font-size: 20px;
          padding-top: 20px;
          .twiter {
            padding-top: 10px;
            font-size: 30px;
            &__icon {
              color: rgb(0, 180, 240);
            }
          }
          .instagram {
            &__icon {
              color: rgb(123, 59, 168);
            }
          }
          .facebook{
            &__icon {
              color: rgb(0, 49, 185);
            }
          }
        }
        &__bottom {
          margin-top: 10px;
          border: 1px solid black;
          height: 130px;
          width: 300px;
          text-align: center;
          overflow: scroll;
        }
        &__right {
          width: 25%;
          padding-top: 20px;
          .todo-box {
            height: 90px;
            overflow: scroll;
            text-align: start;
            padding-left: 30px;
            .delete {
              color: black;
              opacity: 0.4;
              font-size: 12px;
            }
          }
        }
        
      }
    }
    .user-box {
      padding: 50px 50px 0 50px;
      background-color: rgb(233, 233, 233);
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .user-posts {
        
        height: 210;
        .user-posts__item {
          width: 210;
        }
        .user-box__title {
          font-size: 14px;
          width: 210;
          .user-name {
            color: black;
            text-decoration: none;
          }
        }
        .user-list {
          margin-left: 5px;
          .edit {
            text-decoration: none;
            color: #000;
            opacity: 0.7;
          }
          .delete {
            text-decoration: none;
            color: #000;
            opacity: 0.7;
          }
        }
      }
    }
  } 
}
.user-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}
.follow_follower {
  font-size: 15px;
  color: black;
}
.user-image2 {
  width: 100%;
  height: 190px;
}
.edit-profile {
  color: black;
}

@media screen and (max-width:480px){
.user-top {
  height: 480px!important;
}
.user-top__image {
height: 80px!important;
.user-image2 {
height: 80px!important;
}
}
.user-top__bottom {
  display: block!important;
  height: 400px!important;
}
.user-top__bottom__left {
  padding-top: 0!important;
}
.user-edit {
  padding-top: 0!important;
}
.user-top__bottom__center {
  padding-top: 0!important;
}
h1 {
  font-size: 20px!important;
  line-height: 1.2!important;
}
.twiter {
  padding-top: 0!important;
  font-size: 20px!important;
}
.user-top__bottom__bottom {
  margin-top: 0!important;
  height: 100px!important;
  width: 100%!important;
}
.user-top__bottom__right {
  width: 100%!important;
}
.todo_box {
  padding-left: 10px;
}
.todo-box {
  overflow: scroll;
  height: 135px;
}
.user-box {
  padding: 0!important;
}
.user-posts {
  height:45%!important;
  width: 45%;
}
.user-posts__item {
  width: 100%!important;
  height: 100px!important;
}
#user-ytplayer {
  width: 100%!important;
  height: 100%!important;
}
.user-box__title {
  width: 100%!important;
}
.user-list {
  font-size: 15px;
}
}
