
.show {
  height: 90vh;
  width: 100%;
  display: flex;
  &__left {
    width: 16%;
  }
  .user-main {
    width: 90%;
    height: 100%;
    overflow: scroll;
    .user-top {
      width: auto;
      &__image {
        background-color: rgb(255, 255, 255);
        width: 1200px;
        height: 190px;
      }
      &__bottom {
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 160px;
        display: flex;
        &__left {
          text-align: center;
          padding-top: 50px;
          width: 20%;
            .user-edit {
              padding-top: 20px;
            }
        }
        &__right {
          width: 100%;
          &__top {
            text-align: left;
            font-size: 25px;
            padding-top: 20px;

          }
          &__bottom {
            text-align: center;
            height: 100px;
            overflow: scroll;
          }
        }
      }
    }
    .user-box {
      padding: 50px 50px 0 50px;
      background-color: rgb(233, 233, 233);
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .user-posts {
        
        height: 210;
        .user-posts__item {
          width: 210;
        }
        .user-box__title {
          font-size: 14px;
          width: 210;
          .user-name {
            color: black;
            text-decoration: none;
          }
        }
        .user-list {
          margin-left: 5px;
          .edit {
            text-decoration: none;
            color: #000;
            opacity: 0.7;
          }
          .delete {
            text-decoration: none;
            color: #000;
            opacity: 0.7;
          }
        }
      }
    }
  } 
}