.main
  .main__side
    .sport スポーツ
    %ul
      %li サッカー
      %li バスケ
      %li 野球
      %li バレー

    .comedy お笑い
    %ul
      %li コント
      %li 一発芸
    .book  本

    .Economy 経済
    %ul
      %li まこなり社長
  .contents
    .main-space
      %h1 あなたへのおすすめ
    = render partial: "/posts/index/post", collection: @posts